*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(162, 169, 186);
}

.container {
   background: #e3a2a2;
   width: 100%;
   position: relative;
   max-width: 600px;
   padding: 39px;
}
.container h1{
    font-size: 5em;
    font-family: emoji;
}

.container label {
    font-size: 22px;
    font-style: italic;
}

.container input {
    width: 33%;
    margin-top: 19px;
}

.container button {
    height: 36px;
    width: 36%;
    color: aliceblue;
    font-size: 1rem;
    border: none;
    margin-top: 1px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 800;
    background-color: blue;
    text-align: center;
    transition: all 2s ease 0s;
}
.button .input{
    height: 55px;
    border: none;
    color: #ddd;
    white-space: pre;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
